<p>
  List of Works
</p>

<p>
  Albums
</p>

<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
      <% @works.where(category: "album").each do |work| %>
        <tr>
          <td>#</td>
          <td><%= work.title %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
          <td>Upvote</td>
        </tr>
      <% end %>
  </tbody>
</table>

<p>
  Books
</p>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% @works.where(category: "book").each do |work| %>
      <tr>
        <td>#</td>
        <td><%= work.title %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td>Upvote</td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  Movies
</p>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% movie_list = @works.where(category: "movie")%>
    <% if movie_list.length >= 1 %>
      <% @works.where(category: "movie").each do |work| %>
        <tr>
          <td>#</td>
          <td><%= work.title %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
          <td>Upvote</td>
        </tr>
      <% end %>
    <% else %>
      <p> No movies have been added yet </p>
    <% end %>
  </tbody>
</table>