<p>
  List of Works
</p>

<p>
  Albums
</p>

<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
      <% @works.where(category: "album").each do |work| %>
        <tr>
          <td><%= work.votes.length %></td>
          <td><%= link_to work.title, work_path(work) %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
          <td><%= link_to "Upvote", work_votes_path(work), method: "post" %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<p>
  Books
</p>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>

    <% @works.where(category: "book").each do |work| %>
      <tr>
        <td><%= work.votes.length %></td>
        <td><%= link_to work.title, work_path(work) %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td><%= link_to "Upvote", work_votes_path(work), method: "post" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  Movies
</p>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
      <% @works.where(category: "movie").each do |work| %>
        <tr>
          <td><%= work.votes.length %></td>
          <td><%= link_to work.title, work_path(work) %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
          <td><%= link_to "Upvote", work_votes_path(work), method: "post" %></td>
        </tr>
      <% end %>
  </tbody>
</table>