<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('owl.jpg') %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Media Ranker", root_path %> | Ranking the Best of Everything</h3>
      <nav class="app-header__nav">
        <ul class="nav app-header__site-nav-container">
          <li class="nav-item"><h3><%= link_to "View top media", root_path %></h3></li>
          <li class = "nav-item app-header__nav_item"><h3><%= link_to "View all media", works_path %></h3></li>
          <li class = "nav-item app-header__nav_item"><h3><%= link_to "Add a new work", new_work_path %></h3></li>
          <li class = "nav-item app-header__nav_item"><h3><%= link_to "View all users", users_path %></h3></li>
          <li class = "btn btn-secondary"><%= link_to "Log In", login_path %></li>
          <li class = "btn btn-secondary"><%= link_to "Log Out", logout_path, method: :post %> </li>
        </ul>
      </nav>

    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>

    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>

